@font-face {
  font-family: "Adderley";
  src: url("../fonts/adderley_bold.otf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
body {
  font-size: 16px;
}
h1 {
  font-family: "Adderley";
  font-weight: bold;
  font-size: 2.2rem;
  color: #5b5b5b;
}
h2 {
  font-family: "Adderley";
  font-weight: bold;
  font-size: 1.7rem;
  color: #5b5b5b;
}
h3 {
  font-family: "Adderley";
  font-weight: bold;
  font-size: 60px;
  color: #fff;
}
h4 {
  font-family: "Adderley";
  font-weight: bold;
  font-size: 24px;
  color: #5ea631;
  margin-bottom: 0px;
}
h5 {
  font-family: "Adderley";
  font-weight: bold;
  color: #fff;
  font-size: 30px;
  text-align: center;
}
header {
  width: 100%;
}
.navbar-toggler {
  border-color: #fff !important;
  font-size: 0.6rem;
}
a:hover {
  text-decoration: none;
}
body {
  font-family: "Adderley";
  font-style: normal;
  font-weight: bold;
}
.navbar-brand {
  color: #5ea631 !important;
  font-size: 1.625rem !important;
}
.bg-1 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: auto;
  background: url(../img/bg_1.jpg) center center fixed;
}
header {
  padding-left: 0px;
  padding-right: 0px;
}
.header-info {
  background: rgba(0, 0, 0, 0.6);
}
.header-info a {
  color: #fff;
  font-size: 1.25rem;
}
.header-info a:hover {
  color: #5ea631;
}
.languages a {
  padding: 0px 6px;
  border-right: solid 2px #fff;
}
.languages a:last-child {
  border: none;
}
.header-nav {
  padding-left: 170px;
  min-height: 52px;
  height: auto;
  background-color: #efefef;
}
.header-nav a {
  font-size: 1.25rem;
  color: #888787;
}
.header-nav a:hover {
  background-color: #fff;
  color: #5ea631;
  border-bottom: solid 5px #5ea631;
}
.header-nav a:active {
  background-color: #fff;
  color: #5ea631;
  border-bottom: solid 5px #5ea631;
}
@media (min-width: 1200px) and (max-width: 1448px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 1.125rem !important;
  }
  h1 {
    font-size: 1.8rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 1.55rem !important;
  }
}
@media (min-width: 1200px) and (max-width: 1353px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 1.0625rem !important;
  }
  h1 {
    font-size: 1.7rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 1200px) and (max-width: 1305px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 1rem !important;
  }
  h1 {
    font-size: 1.65rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 1.47rem !important;
  }
}
@media (min-width: 1200px) and (max-width: 1257px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 0.95rem !important;
  }
  h1 {
    font-size: 1.6rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 1.4rem !important;
  }
}
@media (min-width: 1200px) and (max-width: 1220px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 0.9rem !important;
  }
  h1 {
    font-size: 1.55rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 1.37rem !important;
  }
}
@media screen and (max-width: 992px) {
  .contacts-left {
    border-radius: 10px 10px 0 0 !important;
    border: none !important;
  }
  .map-right {
    border-radius: 0 0 0 0 !important;
  }
  .button-obr {
    top: 69% !important;
  }
}
@media (min-width: 992px) and (max-width: 1125px) {
  .contacts-left {
    font-size: 1.15rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1062px) {
  .contacts-left {
    font-size: 1rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1002px) {
  .contacts-left {
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 1199px) {
  .product {
    overflow: auto !important;
    height: auto !important;
  }
  .description p {
    margin: 10px 0px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .button-obr {
    top: 72% !important;
  }
}
@media screen and (max-width: 767px) {
  .button-obr {
    left: 60% !important;
    top: 60% !important;
    width: 26% !important;
  }
  .product-opt {
    top: 8% !important;
  }
  .carousel-item {
    padding: 0px 0px !important;
  }
  .header-nav {
    padding-left: 0px;
  }
  .header-product h2 {
    position: absolute;
    top: 30% !important;
    z-index: 999 !important;
    width: 100% !important;
    text-align: center !important;
  }
  .info-product {
    min-height: 90px !important;
  }
  .start-footer {
    background: url(../img/advan-m.png) center center !important;
    background-size: cover !important;
    height: auto !important;
    padding: 30px 30px !important;
    text-align: justify !important;
  }
  .start-footer img {
    max-height: 40px;
  }
  .start-footer h1 {
    color: #fff;
  }
  /* .start-footer col {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  } */
  .about-m {
    background: url(../img/about-m.png) center center !important;
    background-size: cover !important;
    height: auto !important;
    text-align: justify !important;
    padding: 15px 15px !important;
  }
  .bg-1 {
    background-attachment: scroll;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 1.1rem !important;
  }
  h1 {
    font-size: 1.8rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 1.55rem !important;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 1rem !important;
  }
  h1 {
    font-size: 1.65rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 1.47rem !important;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 0.9rem !important;
  }
  h1 {
    font-size: 1.55rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 1.37rem !important;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .navbar-brand {
    color: #5ea631 !important;
    font-size: 1.4rem !important;
  }
  .phone {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .languages {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 576px) and (max-width: 740px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 1.15rem !important;
  }
  .navbar-brand {
    color: #5ea631 !important;
    font-size: 1.425rem !important;
  }
  .navbar-brand img {
    height: 16px;
  }
}
@media (min-width: 576px) and (max-width: 700px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 1rem;
  }
  .navbar-brand {
    color: #5ea631 !important;
    font-size: 1.225rem !important;
  }
  .navbar-brand img {
    height: 14px;
  }
}
@media (min-width: 576px) and (max-width: 620px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 0.88rem;
  }
  .navbar-brand {
    color: #5ea631 !important;
    font-size: 1.15rem !important;
  }
  .navbar-brand img {
    height: 13px;
  }
  .flag-lang img {
    height: 22px;
  }
}
@media screen and (max-width: 575px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 1.15rem !important;
  }
  .navbar-brand {
    font-size: 1.4rem !important;
  }
  .navbar-brand img {
    height: 16px;
  }
  h1 {
    font-size: 1.8rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 2.3rem !important;
  }
}
@media screen and (max-width: 550px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 1.05rem !important;
  }
  .navbar-brand {
    font-size: 1.325rem !important;
  }
  .navbar-brand img {
    height: 14px;
  }
  .phone {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  h1 {
    font-size: 1.65rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 520px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  .product-opt a,
  main p,
  main p table,
  .product-opt a {
    font-size: 1rem !important;
  }
  .navbar-brand {
    font-size: 1.225rem !important;
  }
  .navbar-brand img {
    display: none;
  }
  .logo-big {
    max-height: 225px;
  }
  .button-obr {
    top: 58% !important;
    left: 65% !important;
  }
  .product-opt a {
    width: 130px !important;
    height: 30px !important;
    line-height: 35px !important;
  }
}
@media screen and (max-width: 485px) {
  .button-obr {
    width: 30% !important;
    top: 55% !important;
  }
  .nav-pr a {
    padding: 0 12px;
  }
}
@media screen and (max-width: 450px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 0.9rem !important;
  }
  .navbar-brand {
    font-size: 1.1rem !important;
  }
  .navbar-brand img {
    display: none;
  }
  .flag-lang img {
    height: 18.6px;
    margin-top: 0.15rem !important;
  }
  .social img {
    height: 20px;
  }
  h1 {
    font-size: 1.55rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 1.6rem !important;
  }
  .button-obr {
    top: 54% !important;
  }
  .product-opt a {
    height: 25px !important;
    top: 11% !important;
    line-height: 32px !important;
  }
}
@media screen and (max-width: 410px) {
  .start,
  .header-info a,
  .header-nav a,
  .info-product p,
  .start-footer,
  .contacts-left,
  .facts li,
  .about-company p,
  .footer-span,
  main p,
  main p table,
  .product-opt a {
    font-size: 0.8rem !important;
  }
  .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.1rem !important;
  }
  h1 {
    font-size: 1.5rem !important;
  }
  h2,
  .button-order,
  .about-company p span {
    font-size: 1.2rem !important;
  }
  .button-obr {
    top: 54% !important;
  }
}

.start {
  font-size: 1.25rem;
}
.logo-start {
  padding: 40px 20px;
}
.logo-big {
  max-width: 100%;
}
.slider {
  padding-left: 0px;
  padding-right: 0px;
}
.slider .carousel {
  /* min-height: 680px; */
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 30px;
  padding-bottom: 60px;
}
.carousel a {
  color: #fff;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  margin: 5px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.5;
  background-color: transparent;
}
.carousel-item {
  padding: 60px 0px;
}
.carousel-indicators .active {
  background-color: #dcdcdc;
  opacity: 1;
}
.button-order {
  font-size: 1.7rem;
  width: 100%;
  margin-left: auto;
  justify-content: center;
  display: flex;
  margin-right: auto;
  text-align: center;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 25px;
  width: 186px;
  background-color: #5a9f30;
  padding-top: 5px;
}
.carousel-indicators {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  list-style: none;
}
.start-footer {
  font-weight: bold;
  font-size: 1.25rem;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  padding: 37px 55px;
  line-height: 1.2;
  text-align: center;
}
.bg-2 {
  background: url(../img/bg_2slide.png) center center;
  background-size: cover;
  height: auto;
}
.slide-2 {
  padding: 15px 50px;
}
.header-product {
  position: relative;
}
.header-product img {
  border: solid 1px #fff;
  border-bottom: solid 3px #5ea631;
}
/* .info-product {
  min-height: 120px;
  padding: 10px;
  background-color: #ffffff;
} */
.info-product h2 {
  top: 25%;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.info-product p {
  text-transform: lowercase;
  font-family: "Adderley";
  font-weight: normal;
  font-size: 1.25rem;
  color: #5b5b5b;
}
.button-order-sm {
  font-size: 1rem;
  width: 100%;
  margin-left: auto;
  justify-content: center;
  display: flex;
  margin-right: auto;
  text-align: center;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 25px;
  min-width: 140px;
  max-width: 186px;
  min-height: 40px;
  background-color: #5a9f30;
  padding-top: 6px;
}
.bg-3 {
  background: url(../img/bg_3slide.png) center center;
  background-size: cover;
  height: auto;
}
.about-company {
  padding: 20px 0px;
  margin: 0;
  line-height: 1;
  color: #fff;
  font-size: 1.125rem;
  font-weight: normal;
}
.about-company h1 {
  color: #fff;
}
.about-company h2 {
  color: #5a9f30;
}
.about-company p {
  padding-top: 0.5px;
  font-size: 1.25rem;
}
.about-company p span {
  font-size: 1.7rem;
}
.about-company-logo {
  margin: auto;
}
.facts ul {
  list-style: none;
  padding-left: 0px;
}
.facts li {
  margin-bottom: 15px;
  font-size: 1.25rem;
}
.footer-span {
  padding: 8px 10px;
  min-height: 30px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 1.25rem;
  font-weight: normal;
}
.footer-span a {
  color: #fff;
}
.footer-span a:hover {
  color: #5a9f30;
}
.bg-4 {
  background: url(../img/bg_4slide.png) center center;
  background-size: cover;
  height: auto;
}
.contacts {
  margin: 0;
  padding: 30px 30px;
}
.contacts-left {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.25rem;
  padding-top: 30px;
  padding-bottom: 50px;
  border-radius: 10px 0 0 10px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-right: solid 5px #5ea631;
}
.contacts-left h1 {
  color: #fff;
}
.map-right {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0 10px 10px 0;
}
.button-mail {
  margin-top: 100px;
  font-size: 1.75rem;
  justify-content: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 25px;
  width: 186px;
  height: 40px;
  background-color: #5a9f30;
}
.modal-header {
  background-color: #5ea731;
  padding: 2px 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-content {
  border-radius: 10px;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  margin-left: auto;
}
.privacy-text {
  margin: 30px;
  font-size: 0.875rem;
  padding: 20px;
  border: solid 1px #5ea731;
}
.btn-send {
  font-size: 1.75rem;
  width: 100%;
  margin-left: auto;
  justify-content: center;
  display: flex;
  margin-right: auto;
  text-align: center;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 25px;
  width: 186px;
  height: 51px;
  background-color: #5a9f30;
  padding-top: 5px;
}
.button-order-p {
  margin-bottom: 7%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  font-size: 1.75rem;
  width: 100%;
  margin-left: auto;
  justify-content: center;
  display: flex;
  margin-right: auto;
  text-align: center;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 25px;
  width: 186px;
  height: 51px;
  background-color: #5a9f30;
  padding-top: 5px;
}
/*PRODUCTS*/
.bg-products {
  background-image: url(/assets/img/bg-pr.jpg);
}
.bg-products .header-nav {
  padding-left: 0px;
}
.bg-products .carousel-item {
  padding: 0px 0px;
}
.types li {
  padding-top: 20px;
  font-size: 1.5rem;
  color: #b7b7b7;
}
.types .active {
  color: #5ea731;
}
.product {
  height: 526px;
  overflow: hidden;
}
.products_p h3 {
  color: #5b5b5b;
}
.products_p span {
  font-size: 2.25rem;
  color: #666666;
}
.description {
  height: 85%;
  overflow-y: auto;
}
.description h4 {
  font-size: 3rem;
}
.description p {
  font-weight: normal;
}
main p {
  font-size: 1.25rem;
  margin: 10px 0px;
}
main table {
  font-size: 1.25rem;
}
/* slider */
.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 980px) {
  .slider__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item > div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}
/* bx-slider */
/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.swiper-container {
  height: 300px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

h4 {
  margin: 20px 10px 10px;
}
p {
  margin: 10px;
}
.product-opt {
  position: absolute;
  top: 30%;
  width: 50px;
}
.product-opt a {
  background-image: url(//assets/img/btn-opt.png);
  height: 40px;
  width: 200px;
  display: inline-block;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  line-height: 40px;
}
.button-obr {
  position: absolute;
  top: 70%;
  left: 68%;
  width: 20%;
}
.button-obr .button-order {
  background-color: #5a9f30;
  border: solid 2px #fff;
  text-align: center;
  font-size: 1.7rem;
  justify-content: center;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
#carousel-example-generic {
  margin: 20px auto;
  width: 400px;
}
#carousel-custom {
  position: relative;
}
#carousel-custom .carousel-indicators {
  height: 50px;
  margin: 10px 0 0;
  overflow: auto;
  position: static;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  justify-content: left;
}
.carousel-indicators img {
  width: 50px;
}
#carousel-custom .carousel-indicators li {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  height: auto;
  margin: 0 !important;
  width: auto;
}
#carousel-custom .carousel-indicators li img {
  display: block;
  opacity: 0.5;
  min-height: 48px;
}
#carousel-custom .carousel-indicators li.active img {
  opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
  opacity: 0.75;
}
